<mat-card>
    <h1>Add New task</h1>
</mat-card>
    <mat-card class="mt-3">
    <form #form="ngForm" [formGroup]="todoForm" (ngSubmit)="processForm(form)" class="ml-3">

        <div class="row">
            <mat-form-field>
                <input type="text" formControlName="description" matInput placeholder="Description" class="input">  
                <div *ngIf="todoForm.get('description').hasError('required')"></div>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-radio-group formControlName="priority">
                <p>Priority</p>
                <mat-radio-button value="low">Low</mat-radio-button>
                <mat-radio-button value="medium" class="ml-2">Medium</mat-radio-button>
                <mat-radio-button value="high" class="ml-2">High</mat-radio-button>

            </mat-radio-group>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput 
                    [matDatepicker]="datepicker" 
                    placeholder="Due date." 
                    formControlName="date">
                <mat-datepicker-toggle matSuffix
                    [for]="datepicker">
                </mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row">
            <button type="submit" color="primary" mat-raised-button [disabled]="todoForm.invalid">
                Add
            </button>
        </div>
    </form>
</mat-card>
